
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul {margin:0; }
li{list-style: none;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
* { outline: none; }
/* 1.1 Defaults */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
h1, h2, h3, h4, h5, h6, strong { font-weight: bold; margin:0; padding:0; }
i, em { font-style: italic; }
.left { float: left; }
.right { float: right; }
.alignleft { text-align: left; }
.alignright { text-align: right; }
.aligncenter { text-align: center; }
textarea {overflow: auto; resize: vertical; }
a {color:#282828; text-decoration: none; cursor:pointer; }
a:hover {text-decoration: none; }
address { font-style: normal; }
p {margin:0; padding:0; }
p:empty{display:none; padding:0; margin:0;}
img { max-width: 100%; height: auto; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }
/* input */
.input, select, textarea {background:#fff; width:100%; float: left; height:50px; padding:5px 20px; line-height:40px; font-size:13px; color: #282828; font-family: "Poppins", sans-serif; border:0;border-radius:5px;}
textarea {width:100% !important; resize: vertical; }
.input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: #7b7b7b;opacity:1;}
.input:-moz-placeholder,
textarea:-moz-placeholder {color: #7b7b7b;opacity:1;}
.input::-moz-placeholder,
textarea::-moz-placeholder {color:#7b7b7b;opacity:1;}
.input::-ms-input-placeholder,
textarea::-ms-input-placeholder {color: #7b7b7b;opacity:1;}
.input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color: #7b7b7b;opacity:1;}

/* scroll-top */
.scroll-top{background-color:#4482c0; width:46px; height:46px; cursor:pointer; position:fixed; right:10px; bottom:80px; border:2px solid #fff; z-index:4; display:none;}
.scroll-top:after{content:''; width:12px; height:12px; border-top:3px solid #fff; border-right:3px solid #fff; position:absolute; left:15px; top:18px; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.scroll-top:hover{background-color:#282828;}

/* btn1 */
.btn1{background-color:#d1a43e; display:inline-block; font-size:25px; line-height:53px; color:#fff; font-family: "Poppins", sans-serif; font-weight:700; text-transform:uppercase; box-shadow:none; border:0; cursor:pointer; padding:10px 50px; position:relative; -webkit-border-radius:100px; -moz-border-radius:100px; -ms-border-radius:100px; -o-border-radius:100px; border-radius:100px; }
.btn1:hover{background-color:#206aab; color:#fff;}



/* css *//* css */
body{background-color:#fff; font-size:17px; line-height:24px; color:#282828; font-family: "Poppins", sans-serif; font-weight: 400;}
.container{width:100%; max-width:1470px; padding:0 15px; margin: 0 auto;}
.container2{width:100%; max-width:1770px; padding:0 15px; margin: 0 auto;}

:root {
    --main-color: #0f766e;
  }

.header-wrap{background:#fff; width:100%;left:0px; top:0px; z-index:10;box-shadow:0 1px 2px 0 rgba(0,0,0,.05);}
.header-btm .container{display: flex; justify-content: space-between; align-items: center;}
.header-top{width: 100%; background:#ebf4f6; text-align: right; padding: 10px 0px;}
.header-top .container{display: flex; justify-content: end; align-items: center; gap: 15px;}
.header{width:100%; padding:6px 30px 0;}
.header-left{display: flex;min-height:60px;align-items:center;}
.header .logo{float:left;}
.header .logo a{display:inline-block;}
.header-right{display: flex;height:100%;}
.header-right .search-btn{width: 30px; height: 40px; cursor: pointer;display:flex;align-items:center;justify-content:center;position:relative;}
.header-right .search-btn svg{color:#a1a1aa;}
.header-right .search-btn .search-p{width:320px; padding: 20px; position: absolute; left: -140px; top:50px; background: #fff; border-radius: 15px; box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);display:none;}
.header-right .search-btn .search-p .input{border:1px solid #888;}
.header-right .search-btn .search-p h3{margin-bottom: 15px;}



.header-right .connect-with{font-size: 16px; color:#3795ae;padding:5px 15px;cursor:pointer;}
.header-right .connect-with i{padding-left:8px;color:#a1a1aa;font-size:20px;position:relative;top:1px;}
.logo{width: 100px; margin-right: 20px;}
.global .g-btn{background: #fff; padding: 4px 10px; font-size: 12px;display:inline-block; color: #3795ae; border-radius: 4px; cursor: pointer;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);font-weight:500;}
.global .g-btn svg{position: relative; top:3px;}
.global{position: relative;}
.global-menu{background: #fff;position:absolute;right:0px;width:180px;box-shadow:0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);z-index:99;display:none;}
.global-menu li a{padding: 6px 15px ; display: block; text-align: left;font-size:14px;}
.global-menu li a:hover{background: #f3f4f6;}
.global .g-btn.active i{ transform: rotate(-182deg);}

.social ul{display: flex; margin: 0px; padding: 0px; gap: 12px;}
.social li{list-style: none;}
.social li a{width: 30px; height: 30px; background: #fff; border-radius: 7px;display:flex; align-items: center; justify-content: center; }
.social li a svg{color:#3795ae;}
.top-nav ul{display: flex;gap:25px;}
.top-nav li a{font-size:12px; color: var(--main-color);}

/* nav-menu */
.nav-menu{float:right; padding:0 0 0 0;}
.nav-menu li{float:left; font-size:14px;  margin:0 7px; position:relative;}
.nav-menu li a{color:#374151; line-height:24px; padding:5px 14px 5px; display:inline-block; position:relative;font-weight:500; line-height: 60px;}
.nav-menu li:last-child a{color: #f93476;}
.nav-menu li sub{font-size:10px; position:relative; top:-3px;}
.nav-menu li .arrow{position:absolute; right:0; top:23px;}
.nav-menu li .arrow i{color:#000; font-size:16px;}
/* drop-down */
.nav-menu li > ul{background:rgba(255,255,255,.8); width:300px; position:absolute; left:0; top:71px; padding:5px 0; -webkit-box-shadow: rgba(0,0,0,.3)0px 4px 5px; -moz-box-shadow: rgba(0,0,0,.3)0px 4px 5px; -ms-box-shadow: rgba(0,0,0,.3)0px 4px 5px; -o-box-shadow: rgba(0,0,0,.3)0px 4px 5px; box-shadow: rgba(0,0,0,.3)0px 4px 5px; display:none;}
.header-wrap.sticky .nav-menu li > ul{background:rgba(255,255,255,1);}
.nav-menu li > ul:before{content:''; width:100%; height:47px; position:absolute; left:0; top:-46px;}
.nav-menu li:last-child > ul{left:inherit; right:-75px;}
.nav-menu li li{width:100%; float:left; margin:0;}
.nav-menu li li a{padding:10px 10px; display:block;line-height:normal}
.nav-menu li li ~ li{border-top:1px solid #c3cbd4;}
.nav-menu li li a, .nav-menu li:hover li a{color:#000; }
.nav-menu li li a:hover{background-color:#eee; color:#1b2d55;}
.nav-menu li:hover > ul{display:block;}
/* drop-down 2nd level*/
.nav-menu li li > ul,
.nav-menu li li:last-child > ul{top:0; left:300px;}
.nav-menu li li a{padding-right:25px;}
.nav-menu li li .arrow{right:10px; top:50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
.nav-menu li li .arrow span i{-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);-ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg);}

/* menu-icon */
.menu-icon{width:35px; height:36px; text-align:center; position:absolute; right:10px; top:50%; cursor:pointer; -webkit-transform:translatey(-50%); -moz-transform:translatey(-50%); -ms-transform:translatey(-50%); -o-transform:translatey(-50%); transform:translatey(-50%); display:none;}
.menu-icon i{font-size:30px; color:#002e53; position:absolute; left:50%; top:50%; -webkit-transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%); -o-transform:translate(-50%,-50%); transform:translate(-50%,-50%);}
.menu-icon .fa-times{display:none;}
.menu-icon.active .fa-bars{display:none;}
.menu-icon.active .fa-times{display:block;}
.nav-menu .dd-menu{position: absolute;width:700px;display:flex;box-shadow:0 7px 9px 0 rgba(0,0,0,.08);display:none;background:#fff;z-index:99}
.nav-menu .dd-menu .left-menu{width: 25%;}
.nav-menu .dd-menu .left-menu li a{border: none;border-right:4px transparent;}
.nav-menu .dd-menu .right-content{width: 75%; display: flex;gap:5px;display:none;}
.nav-menu .dd-menu .right-content .col{width: 33%;}
.nav-menu .dd-menu .left-menu li{border:none !important}
.nav-menu .dd-menu .left-menu li:hover a,.nav-menu .dd-menu .left-menu li.active a{background-color: #fff !important;color:#3795ae; border-right: 4px solid #3795ae;}
.nav-menu .dd-menu li:last-child a{color:#000 ;}
.nav-menu .dd-menu .right-content li{border: none;}
.nav-menu li:hover .dd-menu{display: block;}
.nav-menu .dd-menu .right-content.active{display: flex;}

.c-btn{background: #EC4797;
    background: linear-gradient(90deg,rgba(236, 71, 151, 1) 0%, rgba(243, 62, 134, 1) 53%, rgba(248, 53, 119, 1) 100%);font-size:14px;padding:7px 25px; border-radius: 5px; color: #fff; display: inline-block; font-weight: 500;border: none; cursor: pointer;}
.mid-section{width: 100%;}
body{color: #09090b;}
.healthcare{width: 100%;background: #FCF2F8;padding:60px 0px;
    background: linear-gradient(90deg,rgba(252, 242, 248, 1) 0%, rgba(249, 243, 250, 1) 53%, rgba(245, 244, 252, 1) 100%);}
.healthcare .container{display: flex; gap: 30px; align-items: center; padding-right: 100px;}
.healthcare .textb{width: 60%;}
.healthcare .textb h1{font-size: 48px; color:#000; font-weight: 600; line-height: 52px;margin-bottom:20px}
.healthcare .textb p{font-size: 18px;line-height:30px;color:#71717a;max-width: 65%; padding-bottom: 30px;}
.healthcare .imgb{width: 40%;}
.who-we-are{width: 100%; padding: 60px 0px;}
.who-we-are .container{display: flex; gap: 30px; justify-content: space-between;}
.who-we-are .textb{width: 45%;}
.who-we-are .textb h4{font-size: 16px; color:#3795ae; font-weight: 600; margin-bottom: 10px;}
.who-we-are .textb h3{font-size: 36px; line-height: 42px;  font-weight: normal; margin-bottom: 10px;}
.who-we-are .textb p{color: #71717a;font-size: 18px;line-height:30px;padding-bottom:20px;}
.who-we-are .textb ul{display: flex; flex-flow: wrap; gap: 30px; margin-bottom: 40px;}
.who-we-are .textb li{width: calc(50% - 30px);color: #71717a;font-size: 16px;line-height:22px;position:relative; padding-left: 40px;}
.who-we-are .textb li:before{content: ""; background: #9bcad6; width: 24px; height: 24px; border-radius: 24px; position:absolute; left: 0px; top:4px;}
.who-we-are .imgb{width: 40%;}
.portfolio{width: 100%; padding: 60px 0px;}
.portfolio,.portfolio .title{width: 100%;}
.portfolio .title{text-align: center;}
.portfolio .title h4{font-size: 16px; color:#3795ae; font-weight: 600; margin-bottom: 10px;}
.portfolio .title h3{font-size: 36px; line-height: 42px;  font-weight: normal; margin-bottom: 50px;}
.portfolio ul{width: 100%; display: flex; gap: 20px;}
.portfolio li{width: calc(33.33% - 20px); text-align: center;}
.portfolio li img{width: 100%; margin-bottom: 20px;}
.portfolio li h3{font-size: 22px; font-weight: normal;}


.booklet{background:#ebf4f6; margin: 30px 25px 30px 25px; border-radius: 20px;display:flex;}
.booklet .col{width: 50%;padding:30px; display: flex; justify-content: center; align-items: center; gap: 20px; border-right: 1px solid #c2d3d7;}
.booklet .col2{width: 50%;padding:30px; display: flex;align-items:center;}
.booklet .col2 .c-btn{min-height: 50px;}
.booklet .col2 img{margin-right: 25px;}

.location{width: 100%; background: #eff6ff; padding: 64px 0px;}
.location .container{display: flex; gap: 50px; align-items: center;}
.location .map{width: 60%;}
.location .textb h4{font-size: 16px; color:#3795ae; font-weight: 600; margin-bottom: 10px;}
.location .textb h3{font-size: 36px; line-height: 42px;  font-weight: normal; margin-bottom: 40px;}
.location .textb{width: 40%;}
.location .box-row{display: flex; gap: 20px; margin-bottom: 30px;}
.location .box-row .col{width: 144px; height: 132px; background:#fce7f3;border-radius: 8px; display: flex; flex-flow: column; justify-content: center; align-items:center;}
.location .box-row .col:last-child{background: #e5e7eb;}
.location .box-row .col p{font-size: 14px;color:#db2777}
.location .box-row .col strong{font-size: 36px; padding: 7px 0px;color:#db2777}
.location .box-row .col:last-child p{color:#52525b;}
.location .box-row .col:last-child strong{color:#52525b;}
.location li{font-size: 14px; margin-bottom: 8px;position:relative;padding-left:20px;}
.location li:before{content: ""; background: #db2777; width: 12px; height: 12px; border-radius: 24px; position:absolute; left: 0px; top:6px;}



.our-client{width: 100%; padding: 60px 0px;}
.our-client .container{display: flex; gap: 30px;}
.our-client .textb{width:40%;padding-top:100px;}
.our-client .textb h4{font-size: 16px; color:#3795ae; font-weight: 600; margin-bottom: 10px;}
.our-client .textb h3{font-size: 36px; line-height: 42px;  font-weight: normal; margin-bottom: 40px;}
.our-client .tab-box{width:60%;}
.our-client .tab-box .client-tabnav{width: 100%;}
.our-client .tab-box .client-tabnav ul{display: flex;width:100%;border-bottom:1px solid #c9c9c9;gap:20px;}
.our-client .tab-box .client-tabnav li a{padding:5px 26px;font-size:13px;display:block;}
.our-client .tab-box .client-tabnav li a.active{background:#ebf4f6; border-bottom: 1px solid #3795ae;}
.our-client .tab-box .tab-content{padding: 25px 0px;display:none;}
.our-client .tab-box .tab-content ul{display: flex; gap: 30px; flex-flow: wrap;}
.our-client .tab-box .tab-content li{width: calc(20% -15px);}
.our-client .tab-box .tab-content.active{display: block;}

.news-event{width: 100%; padding: 60px 0px;}
.news-event .container{padding: 0 150px;}
.news-event .title{width: 100%;}
.news-event .title h4{font-size: 16px; color:#3795ae; font-weight: 600; margin-bottom: 10px;}
.news-event .title h3{font-size: 36px; line-height: 42px;  font-weight: normal; margin-bottom: 20px;}
.news-event .column{width: 100%; display: flex;}
.news-event .column .imgb{width: 58%; position: relative; overflow: hidden; border-radius: 10px;}
.news-event .column .imgb:before{content:""; width:100%;height:100%;background:rgb(0,0,0,0.5);position:absolute;left:0px;top:0px;z-index:99;}
.news-event .column .imgb .caption{position: absolute; left: 20px; bottom: 30px; z-index: 10;padding:10px; z-index: 100;}
.news-event .column .imgb .tag-box{background: #10b981;color: #fff;display: inline-block;font-size: 12px;padding: 2px 13px;border-radius: 15px;line-height: 20px;
font-weight: 500;}
.news-event .column .imgb .caption h3{font-size: 24px;color:#fff;line-height:32px;margin:10px 0 15px 0;}
.news-event .column .imgb .caption .user .icon-img{width: 32px;}
.news-event .column .imgb .caption .user .icon-img img{border-radius: 100%;}
.news-event .column .imgb .caption .user{display: flex; gap: 10px; align-items: center;}
.news-event .column .imgb .caption .user p{font-size: 14px; color: #fff;}
.news-event .column .imgb img{transition: all .3s ease-out;}
.news-event .column .imgb:hover img{transform: scale(1.1);}
.news-event .column .news-list{margin-left: 30px; width: 42%;}
.news-event .column .news-list ul{width: 100%;}
.news-event .column .news-list li{display: flex; gap: 15px;align-items:start;margin-bottom:35px;}
.news-event .column .news-list li .textb{width:calc(100% - 150px);}
.news-event .column .news-list li .imgb{width: 150px;}
.news-event .column .news-list li .imgb img{width: 150px; height: 150px;}
.news-event .column .news-list li .textb .tag-box{background: #10b981;color: #fff;display: inline-block;font-size: 12px;padding: 2px 13px;border-radius: 15px;line-height: 20px; font-weight: 500;}
.news-event .column .news-list li .textb h3{font-size: 16px; line-height: 27px; margin:5px 0px 3px 0px;}
.news-event .column .news-list li .textb h3 a{color: #000;}
.news-event .column .news-list li .textb p{font-size: 14px;}
.news-event .column .news-list li .user{width: 100%; padding-top: 8px; border-top: 1px solid #eaeaea; margin-top: 7px;}
.news-event .column .news-list li .user .icon-img{width: 20px;}
.news-event .column .news-list li .user .icon-img img{border-radius: 100%;}
.news-event .column .news-list li .user{display: flex; gap: 10px; align-items: center;}
.news-event .column .news-list li .user p{font-size: 14px; color: #000;}
.news-event .column .news-list li .textb .tag-box.red{background-color: #dc2626;}
.news-event .column .news-list li .textb .tag-box.blue{background-color: #2563eb;}
.news-event .column .news-list li .textb .tag-box.purple{background-color: #9333ea;}
.news-event .column .news-list li .textb .tag-box.green{background-color: #16a34a;}
.news-event .column .news-list li:hover h3 a{color: #0f766e;}

.testimonials{width: 100%; padding: 60px 0px 80px 0px;}
.testimonials .title h4{font-size: 16px; color:#3795ae; font-weight: 600; margin-bottom: 10px;}
.testimonials .title h3{font-size: 36px; line-height: 42px;  font-weight: normal; margin-bottom: 20px;}
.testimonials .column{width: 100%; display: flex; gap: 25px;}
.testimonials .column .col{padding: 25px; border: 1px solid #ebf4f6; border-radius: 15px;width:33.33%;}
.testimonials .column .col .user{width: 48px;}
.testimonials .column .col h4{font-size: 16px; margin: 15px 0px;}
.testimonials .column .col p{font-size: 16px; color: #71717a; line-height: 27px;}

.footer{width: 100%; font-size: 14px; background: rgba(239,246,255,.5); padding:40px 0px;color:#71717a;}
.footer .container{display: flex;}
.footer .col{width: 20%;}
.footer .col .logo{margin-bottom: 15px;}
.footer .col  h5{font-size: 16px;color:#000;margin-bottom:15px;}
.footer .col li{margin-bottom: 5px;}
.footer .col li a{color:#71717a;}
.footer .col form{width: 100%; display: flex; margin: 10px 0px;}
.footer .col .newsletter-f{width: 100%;}
.footer .col .newsletter-f p{font-size: 12px; line-height: 16px;}


.common-text{width: 100%;padding:30px 0px 30px 0px;}
.top-tittle {font-size: 40px;text-transform: uppercase;margin-bottom: 40px;text-align: center;}
.common-text h3 {font-size: 22px;line-height: 30px;margin-bottom: 8px;color:#0f766e;position:relative;padding-bottom:8px;}
.common-text h3:before{content:"";height:4px;width:40px;background:#0f766e;position:absolute;left:0px;bottom:0px;}
.common-text h4 {font-size: 20px;line-height: 28px;margin-bottom: 5px;color:#0f766e;}
.common-text p, .common-text li {font-size: 16px;line-height: 23px;color: #000;}
.common-text p{padding-bottom:10px;}
.common-text a{ color:#0f766e; font-weight:500;}
.common-text a:hover{color:#b5934f;text-decoration:none;}
.common-text .list-dot, .common-text .list-no {padding-left: 20px;}
.common-text .list-dot li {list-style: disc;margin-bottom: 10px;}
.common-text .list-no li {list-style: auto;margin-bottom: 10px;}

.header-right .connect-box{position: relative;}
.header-right .connect-box .get-in-touch{width: 390px;box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -2px rgba(0, 0, 0, .1);padding:15px;border-radius:10px; position: absolute; right: 0px; background: #fff;display:none;}
.header-right .connect-box .get-in-touch .input,
.header-right .connect-box .get-in-touch .textarea{border:1px solid #dbdbdb; margin-bottom: 10px;height: 45px;}
.header-right .connect-box .get-in-touch .textarea{height: 100px;}
.header-right .connect-box .get-in-touch .c-btn{width: 100%; padding: 12px 25px;}
.header-right .connect-box .get-in-touch h3{font-size: 22px; margin: 10px 0px;}
.header-right .connect-box .get-in-touch h3 span{color: #0f766e;}
.header-right .connect-box .get-in-touch p{font-size: 13px; line-height: 20px; padding: 0px 0px 15px 0px;color:#52525b;}



/* owl_carouse css start *//* owl_carouse css start */
.owl_carousel,.owl_carousel .owl-item{ -webkit-tap-highlight-color: transparent;position: relative;}
.owl_carousel{ display: none;width: 100%; float:left;z-index: 1;}
.owl_carousel .owl-stage{ position: relative;-ms-touch-action: pan-Y;touch-action: manipulation;-moz-backface-visibility: hidden;}
/*.owl_carousel .owl-stage:after{ content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}*/
.owl_carousel .owl-stage-outer{ position: relative;overflow: hidden;-webkit-transform: translate3d(0,0,0);}
.owl_carousel .owl-item,.owl_carousel .owl-wrapper{ -webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);}
.owl_carousel .owl-item{ min-height: 1px;float: left;-webkit-backface-visibility: hidden;-webkit-touch-callout: none;}
.owl_carousel .owl-item img{ display: block; width: 100%;}
.owl_carousel .owl-dots.disabled,.owl_carousel .owl-nav.disabled{ display: none;}
.no-js .owl_carousel,.owl_carousel.owl-loaded{ display: block;}
.owl_carousel .owl-dot,
.owl_carousel .owl-nav .owl-next,
.owl_carousel .owl-nav .owl-prev{ cursor: pointer;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.owl_carousel .owl-nav button.owl-next,.owl_carousel .owl-nav button.owl-prev,.owl_carousel button.owl-dot{ background: 0 0;color: inherit;border: none;padding: 0!important;font: inherit;}
.owl_carousel.owl-loading{ opacity: 0;display: block;}
.owl_carousel.owl-hidden{ opacity: 0;}
.owl_carousel.owl-refresh .owl-item{ visibility: hidden;}
.owl_carousel.owl-drag .owl-item{ -ms-touch-action: pan-y;touch-action: pan-y;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.owl_carousel.owl-grab{ cursor: move;cursor: grab;}
.owl_carousel.owl-rtl{ direction: rtl;}
.owl_carousel.owl-rtl .owl-item{ float: right;}
.owl_carousel .animated{ animation-duration: 1s;animation-fill-mode: both;}
.owl_carousel .owl-animated-in{ z-index: 0;}
.owl_carousel .owl-animated-out{ z-index: 1;}
.owl_carousel .fadeOut{ animation-name: fadeOut;}
@keyframes fadeOut{ 0%{  opacity: 1; }
 100%{  opacity: 0; }}.owl-height{ transition: height .5s ease-in-out;}
.owl_carousel .owl-item .owl-lazy{ opacity: 0;transition: opacity .4s ease;}
.owl_carousel .owl-item .owl-lazy:not([src]),.owl_carousel .owl-item .owl-lazy[src^=""]{ max-height: 0;}
.owl_carousel .owl-item img.owl-lazy{ transform-style: preserve-3d;}
.owl_carousel .owl-video-wrapper{ position: relative;height: 100%;background: #000;}
.owl_carousel .owl-video-play-icon{ position: absolute;height: 80px;width: 80px;left: 50%;top: 50%;margin-left: -40px;margin-top: -40px;background: url(owl.video.play.png) no-repeat;cursor: pointer;z-index: 1;-webkit-backface-visibility: hidden;transition: transform .1s ease;}
.owl_carousel .owl-video-play-icon:hover{ -ms-transform: scale(1.3,1.3);transform: scale(1.3,1.3);}
.owl_carousel .owl-video-playing .owl-video-play-icon,.owl_carousel .owl-video-playing .owl-video-tn{ display: none;}
.owl_carousel .owl-video-tn{ opacity: 0;height: 100%;background-position: center center;background-repeat: no-repeat;background-size: contain;transition: opacity .4s ease;}
.owl_carousel .owl-video-frame{ position: relative;z-index: 1;height: 100%;width: 100%;}
.owl_carousel .owl-prev, 
.owl_carousel .owl-next{position:absolute; top:50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); text-indent:-99999px;}
.owl_carousel .owl-prev{left:10px;}
.owl_carousel .owl-next{right:10px;}
.owl_carousel .owl-prev:before, 
.owl_carousel .owl-next:before{content:''; width:40px; height:40px; border-left:5px solid #2773b4; border-bottom:5px solid #2773b4; position:absolute; left:12px; top:-50%; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); opacity:.3;}
.owl_carousel .owl-next:before{left:inherit; right:12px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }
.owl_carousel .owl-prev:hover:before, 
.owl_carousel .owl-next:hover:before{opacity:1;}
.owl_carousel .owl-dots{width:100%; float:left; text-align:center; padding:20px 15px 0 15px;}
.owl_carousel .owl-dots .owl-dot{background:#d1a43e; width:25px; height:10px; display:inline-block; margin:5px; border-radius:10px; }
.owl_carousel .owl-dots .owl-dot.active{background:#226caf;}
/* owl_carouse css end *//* owl_carouse css end */















/* transition *//* transition *//* transition *//* transition *//* transition */
.global-menu li a{-webkit-transition:all ease-in-out 0.4s; -moz-transition:all ease-in-out 0.4s; -ms-transition:all ease-in-out 0.4s; -o-transition:all ease-in-out 0.4s; transition:all ease-in-out 0.4s;}


/* appearance *//* appearance *//* appearance *//* appearance *//* appearance */
.input, input[type="submit"], select, textarea, .button, .scroll-top { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
input[type=number] {-moz-appearance: textfield;}









/* responsive *//* responsive *//* responsive *//* responsive *//* Responsive */
@media only screen and (max-width:1699px){ /*1600*/

}
@media only screen and (max-width:1599px){/*1500*/
}
@media only screen and (max-width:1499px){/*1400*/

}
@media only screen and (max-width:1399px){/*1300*/

}
@media only screen and (max-width:1299px){/*1200 - 1024*/
}
@media only screen and (max-width:1199px){/*1024 */
}
@media only screen and (max-width:1023px){/*768*/
}
@media only screen and (max-width:767px){
}
@media only screen and (max-width:374px){
}



